
/* Tags */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background: url("../images/background.jpg");
    background-size: 100% 100%;
    height: 880px;
}
nav {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: space-between;
}
table {
    width: 100%;
}

/* Classes */
.logo {
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin: 15px 0 0 20px;
}
.menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    list-style-type: none;
    margin: 10px 20px 0 0;
}
.menu ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.searchBox {
    width: 430px;
    display: inline-block;
    background: white;
    padding: 20px 30px;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
}
.searchTitle {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 600;
    color: rgb(75, 75, 75);
}
.searchSubTitle {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}
.searchInput {
    height: 45px;
    width: 100%;
    color: rgb(100, 98, 98);
    font-size: 15px;
    border: 1px solid rgb(230, 227, 227);
}
.searchButton {
    display: grid;
    justify-content: end;
    padding: 20px 0;
}
.searchButton button {
    background-color: #FF385C;
    color: white;
    width: 70px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

/* Id */