
/* Tags */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background: url("../images/background.jpg");
    background-size: 100% 100%;
    height: 880px;
}
nav {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: space-between;
}
table {
    width: 100%;
}
main {
    margin: 30px 80px; /* 가로 세로 */
}
section {
    margin: 30px 0;
}

/* Classes */
.logo {
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin: 15px 0 0 20px;
}
.menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    list-style-type: none;
    margin: 10px 20px 0 0;
}
.menu ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.searchBox {
    width: 430px;
    display: inline-block;
    background: white;
    padding: 20px 30px;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
}
.searchTitle {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 600;
    color: rgb(75, 75, 75);
}
.searchSubTitle {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}
.searchInput {
    height: 45px;
    width: 100%;
    color: rgb(100, 98, 98);
    font-size: 15px;
    border: 1px solid rgb(230, 227, 227);
}
.searchButton {
    display: grid;
    justify-content: end;
    padding: 20px 0;
}
.searchButton button {
    background-color: #FF385C;
    color: white;
    width: 70px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.secTitle {
    font-size: 25px;
    font-weight: 600;
    color: rgb(66, 66, 66);
}
.cardBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border:  1px solid rgb(210, 210, 210);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 3px 3px 0 rgb(170, 170, 170);
}
.cardImg {
    background-image: url("../images/card1.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.cardContent {
    display: grid;
    align-items: center;
    margin-left: 10px;
    font-weight: 600px;
}
.ad1 {
    background-image: url("../images/ad1.jpg");
    background-size: 100% 100%;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 3px 3px 0 rgb(170, 170, 170);
}
.chooBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 20px;
}
.chooImg {
    background-image: url("../images/choo1.png");
    height: 200px;
    background-size: 100% 100%;
}
.ad2 {
    background-image: url("../images/ad2.png");
    background-size: 100% 100%;
    height: 300px;
    box-shadow: 0 3px 3px 0 rgb(170, 170, 170);
    margin-top: 10px;
}
.homeBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}
.homeImg {
    background-image: url("../images/home1.png");
    height: 180px;
    background-size: 100% 100%;
}
.info1 {
    margin: 5px 0;
    font-size: 13px;
    color: grey;
}
.info2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(60, 60, 60);
}
.star {
    font-size: 12px;
    color: rgb(30, 120, 125);
    font-weight: 800;
}
.count, .type {
    font-size: 12px;
}

/* Id */